body {
    background-color:rgb(33, 33, 33);
    align-items:center;
}

p {
  color: rgb(255, 255, 255);
}

h1 {
    font-size: 55px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-family:Helvetica;
}

h2 {
    font-size: 40px;
    text-align: center;
    color:azure;
    font-family:Helvetica;
}

h5 {
    color:aquamarine;
}

li {
    font-size: 20px;
    color:rgb(255, 255, 255);
    font-family:Helvetica;
}

ol {
    font-size: 20px;
    text-align:left;
    color:aliceblue;
    font-family:Helvetica;
}

a {
    color:aqua;
    font-family:Helvetica;
}

.logo-wrapper {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically (if the wrapper has height) */
}